[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
User=ubuntu
Group=www-data
EnvironmentFile=/home/ubuntu/project/foodOnline/.env
WorkingDirectory=/home/ubuntu/project/foodOnline
ExecStart=/home/ubuntu/project/env/bin/gunicorn \
          --access-logfile - \
          --workers 3 \
          --bind unix:/run/gunicorn.sock \
          foodOnline_main.wsgi:application

[Install]
WantedBy=multi-user.target



